* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style: none;
    display: flex;
}

.widget {
    min-width: 360px;
    max-width: 750px;
    -webkit-box-shadow: 0px 3px 3px 0px #000000; 
    box-shadow: 0px 3px 3px 0px #000000;
    margin: 5px;
}

.select-city-container{
    padding: 10px 15px;
}

.select-city-container__select {
    font-size: 2.5em;
    border: none;
    background: none;
    outline: none;
    transform: translateX(-5px);
}

.today-info{
    padding: 10px 15px;
}

.today-info__panels{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 10px;
}

.today-info__panels--right{
    margin: 0 auto;
}

.today-info__panels--left{
    display: flex;
    align-items: flex-start;
}

.today-info-panels__left * {
    margin-right: 5px;
}

.today-info__temperature{
    font-size: 2.5rem;
}

.today-info__degree{
    line-height: 2rem;
}

.today-info__air-stats{
    flex-direction: column;
}

.days__list {
    flex-direction: column;
}

.days__list-item:not(:last-child) {
    border-bottom: solid 1px;
}

.days__list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.days__list-item .detail {
    width: 20%;
}

@media all and (min-width: 440px){
    html{
        font-size: 18px;
    }
}

@media all and (min-width: 600px){
    .days__list{
        flex-direction: row;
        justify-content: space-between;
    }

    .days__list-item .detail {
        width: initial;
    }

    .widget .days__list-item{
        flex-direction: column;
        border-bottom: none;
        align-items: center;
        justify-content: center;
        font-size: 0.8em;
    }
}